#first{
    background-color: #FF6A1C;
}
#sec{
    background-color: #FFDA62;
}
#thired{
    background-color:#F5788B ;
}
#four{
    background-color: #A5CF83;
}
#five{
    background-color: #F5788B;
}
#ls{
    background-color: #FF6A1C;
}
#last{
    background-color: #FFDA62;
}
.h1{
    color:  #A5CF83;
}

