*{
    margin: 0%;
    padding: 0%;
     background-color: rgb(24, 23, 22);
}
.div1{
   
    color: white;
    height: 100vh;
}

.moive1{
    display: inline-block;
    height: 400px;
    width:200px;
    box-sizing: border-box;
    position: relative;
    margin-left: 5%;
    margin-top: 10%;
}

#img1{
    height: 95%;
    width: 95%;
    padding: 5px;
    border-radius: 10px;
    border-radius: 30px;
    
    
    
    
}
h1{
    position: absolute;
    bottom: 50px;
    left: 0px;
    font-size: 100px;
    line-height: 0%;
}
.moive2{
     display: inline-block;
    height: 400px;
    width:200px;
    box-sizing: border-box;
    position: relative;
    margin-left: 2%;
    margin-top: 10%;
}

